h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  margin-right: -80px;
  line-height: 48px;
  margin: ;
}
li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  margin-left: -32px;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  opacity: 0.5;
  font-weight: 500;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 55px auto;
}
.boarder {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 6px 3px rgba(14, 22, 127, 0.8);
}
.temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin-left: -20px;
}
.temp-components {
  margin-left: ;
  align-items: center;
}
.temp-components .unit {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -34px;
  margin-left: -5px;
}
.cloud-icon {
  margin-bottom: 50px;
  margin-left: 10px;
}
.img-icon {
  margin-left: -26px;
  width: 90px;
}
.daily-temp {
  font-weight: 500;
  font-size: 16px;
  color: black;
}
.second-grid {
  margin-top: 30px;
}
.temp-components .active {
  color: #212121;
  text-decoration: none;
  cursor: default;
}

}
.forecast-section {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-temp-max {
  color: #000;
  font-weight: 500;
}
.weather-forecast-temp-min {
  opacity: 0.5;
  font-weight: 500;
}
.weaather-forecast-date {
  font-weight: 600;
  opacity: 0.7;
}
